/* Setup */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* STRIPPING STYLES */

body, 
h1, 
h2,
p, 
ul, 
li,
header,
nav,
html,
img {
    margin: 0;
    padding: 0;    
}

ul,
li a {
    list-style: none;
    text-decoration: none;
}

/* GLOBAL STYLES */

html {
    font-size: 62.5%;
    font-family: 'Cabin', sans-serif;   
    color: #232323;
}

body {
    font-size: 1.8rem;   
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #232323;
}

a:hover,
a:focus,
button:hover,
button:focus {
    opacity: 60%;
}

.cursive {
    font-family: 'Great Vibes', cursive;
    font-weight: normal;   
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

/* HEADER STYLES */

header {
    background-image: url(./tasty-assets/asset-1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 5.5rem;
    float: left;
    padding-top: 15px;
}

nav ul {
    float: right;
}

nav li {
    float: left;   
    margin: 0 20px;
    padding-top: 25px;
    text-transform: uppercase;
}

.fa-bars { 
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 3rem;
    visibility: hidden;
}

.hero-text {
    padding-top: 180px;   
}

.hero-text span {
    display: block;
    font-size: 14rem;
}

.social-icons {
    float: right;
    position: absolute;
    bottom: 40%;
    right: 5%;  
}

.social-icons i {
    display: block;
    color: #FDC800;
    margin-bottom: 16px;  
}

header h2 {
    clear: both;
    text-transform: uppercase;
    text-align: center;
}

header h2 span {
    text-transform: none;
}


/* ABOUT STYLING! */

.about {
    clear: both;
    text-align: center;
    background-color: #F8F8F8;
    padding: 80px 0;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 30px;
}

.about p {
    padding: 0 15%;
    line-height: 3rem;
}

.yellow-button {
    background-color: #FDC800;
    display: inline-block;
    padding: 10px 40px;
    margin-top: 40px;
    text-transform: uppercase;
}

/* LINKS SECTION */

.links {
    background-color: #232323;
    color: #F8F8F8;
    font-size: 2rem;
    text-transform: uppercase;
}

.links a {
    color: #F8F8F8;
}

.links i {
    color: #F8F8F8;
    font-size: 3rem;
    padding-bottom: 20px;
}


.links .wrapper div {
    float: left;
    text-align: center;
    position: relative;
    left: 22%;
    padding: 40px 0;
    margin: 40px 60px;
}

/* GALLERY STYLING */

.gallery {
    background-color: #F8F8F8;
    padding: 80px 0;
}

.gallery img {
    width: calc(33% - 36px);
    margin: 0 18px;
    float: left;
}

.gallery ul {
    clear: both;
}

/* BLOG STYLING */

.blog {
    background-color: #EAEDF4;
}

.blog img {
    display: block;
}

.blog h3 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: lighter;
}



.cooking-tips,
.img-container,
.popular-recipes {
    width: 50%;
    /* max-height: 100%; */
}

.blog a {
    padding: 10px 20px;
    margin-top: 20px; 
    font-size: 1.5rem;
}

.blog-container {
    max-width: 35%;
    text-align: center;  
}

.blog p {
    font-size: 1.5rem;
    line-height: 2.5rem;       
}

.blog1 {  
    margin: 10% 0 10% 20%;
    margin: 80px 0 0 45%;
}

.blog2 {
    padding: 10% 0;
    margin: 0 0 0 15%;
}

.box1,
.box2,
.box4 {
    float: left;
}

.box3 {
    float: right;
    clear: left;
}


/* COOK BIO STYLES */

.meet-the-cook .wrapper div {
    padding: 40px 0;
}

.cook-float {
    float: left;
}

.cook-photo {
    width: 25%;
    float: left;
}

.cook-text {
    margin-left: 45px;
    width: calc(75% - 45px);
    float: left;
    font-size: 1.57rem;
    line-height: 2.5rem;
}

.cook-text .yellow-button {
    margin-top: 30px;
}


/* FOOTER STYLING */

footer {
    clear: both;
    background-color: #232323;
}

footer li,
footer p,
footer a,
h4 {
    color: #F8F8F8;
    margin-bottom: 6px;
}

.pages a {
    text-transform: uppercase;
}

footer .wrapper {
    padding: 80px 0;
}

.column {
    float: left;
}

.column p {
    text-transform: none;
}

.column p,
.column a {
    display: block;
    font-size: 1.5rem;
}

.column h4 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.contact,
.pages,
.recent-content {
    width: calc(50% / 3);   
}

.subscribe {
    float: right;
    width: calc(50% - 60px);
    margin-left: 60px
}

input,
button {
    float: left;
    margin-top: 10px;
}

input {
    width: 75%;
    height: 40px;
    text-indent: 30px;
}

input::placeholder {
    color: rgb(78, 75, 75);
    font-size: 1.5rem;
    opacity: 100%;     
}

button {
    width: 25%;
    height: 40px;
    background-color: #FDC800;
    border: none;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.copy {
    clear: both;
    text-align: center;
    padding: 10px 0;
    background-color: black;
}

.copy p {
    color: grey;
}



/* MEDIA QUERIES!!! */
/* MEDIA QUERIES!!! */
/* MEDIA QUERIES!!! */

@media (max-width: 1050px) {
    
    /* Socials - for contrast */
    .social-icons i {
        display: none;
    }
    
    /* Links Section */
    .links .wrapper div {
        left: 12%;
    }

    /* BLOG SECTION */

    .blog1 {
        margin: 20px 0 0 45%;
    }

    .blog2 {
        margin: 0;
    }

    .blog1 p {
        font-size: 1.5rem;
    }

    /* FOOTER */

    .subscribe {
        margin-left: 0;
    }



    input,
    button {
        float: none;  
    }

    button {
        width: 75%;
    }
    
}

@media (max-width:814px) {

    /* Link Section */
    .links .wrapper div {
       margin: 40px 30px;  
    }
}

@media (max-width: 768px) {

    /* Nav */
    nav ul,
    .social-icons {
        visibility: hidden;
    }

    .fa-bars {
        visibility: visible;
    }
    
    /* Gallery Section */
      
    .gallery {
         padding: 0;
     }

    .gallery img {
        width: 50%;
        margin: 0;
    }

    .gallery li:nth-of-type(3) {
        display: none;
    }

     /*BLOG SECTION*/

     .blog div {
         width: 100%;
         margin: 0 auto;
     }

     .blog1,
     .blog2 {
        padding: 0 0 40px 0;
     }

     /* MEET THE COOK */

    .cook-float,
    .cook-photo {
        float: none;
    }

    .cook-photo {
        width: 50%;
    }

    .cook-photo,
    .cook-float {
        margin: 0 auto;
    }

    .cook-text {
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .cook-text p {
        text-align: left;
    }

    .cook-text h2 {
       text-align: center;
    }

    /* Footer */

    footer .wrapper {
        padding: 0 0 20px 0;
    }

    .subscribe {
        float: left;
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;
    }

    .subscribe h4 {
        font-size: 2.5rem;
    }

    .subscribe p:nth-of-type(1) {
        font-size: 1.5rem;
    }

    input {
        text-indent: 0;
    }

    input::placeholder {
        text-align: center;     
    }

    .contact,
    .pages,
    .recent-posts {
        width: calc(100% / 3);  
        text-align: center; 
    }
}

@media (max-width: 480px) {

    /* HEADER */

    .wrapper {
        max-width: 100%;
    }

    h1 {
        margin-left: 10px;
    }

    .hero-text {
        padding-top: 80px;   
    }

    .hero-text span {
        display: block;
        font-size: 13rem;
    }

    /* ABOUT */
    .about p {
        padding: 0 8%;
    }

    /* LINKS */

    .links { 
        font-size: 2.5rem;       
    }

    .links i {
        font-size: 5rem;
    }

    .links .wrapper div {
       width: 75%;
       margin: 0 auto;
       clear: both;
    }

    /* BLOG */

    .blog-container {
        max-width: 85%;
    }

    .blog-container p {
        font-size: 2.3rem;
        line-height: 4rem;
    }

    .blog h3 {
        font-size: 4.5rem;
    }

    .blog a {
        font-size: 2.8rem;
        margin: 30px 0;
    }

    /* MEET THE COOK */

    .cook-text h2 {
       font-size: 5rem;
    }

    .cook-text p {
        margin: 0 20px;
    }

    /* FOOTER */

    .subscribe {
        padding-top: 30px;
    }

    .recent-posts {
        display: none;
    }

    .column {
        float: none;
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }

    .column h4 {
        font-size: 3rem;
    }

    button {
        font-size: 1.8rem;
    }

    input::placeholder {
        font-size: 1.8rem;
    }

    .contact {
        width: 55%;       
    }

    .contact li {
       float: left;
       width: 50%;
       font-size: 1.6rem;  
    }

    .pages {
        padding-top: 30px;
        width: 60%;   
        clear: both;   
    }

    .pages a {
        float: left;
        width: 25%; 
    }
  
    .pages a::after {
        content: "|";
        padding: 0 10px;
    }
}



